@charset "utf-8";
body{position: relative;}
.demo1{
	background: url(../img/banner-ac-a.png) no-repeat;
	animation:mykeyframes 12s linear infinite;
}
.demo2{
	background: url(../img/banner-ac-b.png) no-repeat;
	animation:mykeyframes2 12s linear infinite;
}
.demo3{
	background: url(../img/banner-ac-c.png) no-repeat;
	animation:mykeyframes3 12s linear infinite;
}
.demo4{
	background: url(../img/banner-ac-d.png) no-repeat;
	animation:mykeyframes4 12s linear infinite;
}
.demo5{
	background: url(../img/banner-ac-e.png) no-repeat;
	animation:mykeyframes5 12s linear infinite;
}
.demo6{
	background: url(../img/banner-ac-f.png) no-repeat;
	animation:mykeyframes6 12s linear infinite;
}
.demo7{
	background: url(../img/banner-ac-g.png) no-repeat;
	animation:mykeyframes7 12s linear infinite;
}
.demo8{
	background: url(../img/banner-ac-h.png) no-repeat;
	animation:mykeyframes8 12s linear infinite;
}
.demo9{
	background: url(../img/banner-ac-i.png) no-repeat;
	animation:mykeyframes9 12s linear infinite;
}
.demo{
	width:100%;
	height:500px;
	position:absolute;
	left: 0;
	opacity: 0;
	margin: 100px auto;
	animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
	background-size: cover;
	background-position: center center;
}
.demo>img{width: 100%;}
@keyframes mykeyframes
{
	0% {
		opacity:1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	4% {
		opacity:1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	23%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
	90%{
		opacity: 0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}	
	100%{
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
}
@-webkit-keyframes mykeyframes
{
	0% {
		opacity:1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	4% {
		opacity:1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	23%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
	90%{
		opacity: 0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}	
	100%{
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}	
}
@keyframes mykeyframes2
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	12% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	17% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	36%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@-webkit-keyframes mykeyframes2
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	12% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	17% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	36%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@keyframes mykeyframes3
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	21% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	26% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	45%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@-webkit-keyframes mykeyframes3
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	21% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	26% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	45%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@keyframes mykeyframes4
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	30% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	35% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	54%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@-webkit-keyframes mykeyframes4
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	30% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	35% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	54%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@keyframes mykeyframes5
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	39% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	44% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	63%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@-webkit-keyframes mykeyframes5
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	39% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	44% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	63%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@keyframes mykeyframes6
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	48% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	53% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	72%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@-webkit-keyframes mykeyframes6
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	48% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	53% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	72%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@keyframes mykeyframes7
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	58% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	63% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	81%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@-webkit-keyframes mykeyframes7
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	58% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	63% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	81%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@keyframes mykeyframes8
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	67% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	72% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	90%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@-webkit-keyframes mykeyframes8
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	67% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	72% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	90%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@keyframes mykeyframes9
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	76% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	81% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	99%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
@-webkit-keyframes mykeyframes9
{
	0% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	76% {
		opacity:0;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	81% {
		opacity: 1;
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	99%{
		opacity: 0;
		transform:translateY(-200px);
		-webkit-transform:translateY(-200px);
	}
}
